name: CI to Docker Hub

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and export to Docker for testing
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: docker
        file: docker/build-utils.Dockerfile
        load: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/build-utils:test

    - name: Test
      run: |
        docker run --rm ${{ secrets.DOCKER_HUB_USERNAME }}/build-utils:test cmake --version

    - name: Build and push
      uses: docker/build-push-action@v2
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        context: docker
        file: docker/build-utils.Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/build-utils:latest

    - name: Build and export to Docker for testing
      uses: docker/build-push-action@v2
      with:
        context: docker
        file: docker/hdf5.Dockerfile
        load: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/hdf5:test

    - name: Test
      run: |
        docker run --rm ${{ secrets.DOCKER_HUB_USERNAME }}/hdf5:test h5dump --version

    - name: Build and push
      uses: docker/build-push-action@v2
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        context: docker
        file: docker/hdf5.Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/hdf5:latest

