name: CI to Docker Hub

on:
  push:
    branches: main
  pull_request:
    branches: main        
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Set registry name
      run: |
        echo "BASE_TAG=${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV
        if [ "${GITHUB_REF}" = "refs/heads/main" ]; then
          echo "REGISTRY=docker.io" >> $GITHUB_ENV
        else
          echo "REGISTRY=localhost:5000" >> $GITHUB_ENV
        fi

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        driver-opts: network=host

    - name: Login to Docker Hub
      if: ${{ github.ref == 'refs/heads/main' }}
      uses: docker/login-action@v1
      with:
        username: algodynamic
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push build tools image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: docker/build-utils.Dockerfile
        push: true
        tags: |
          ${{ env.REGISTRY }}/algodynamic/build-utils:latest
          ${{ env.REGISTRY }}/algodynamic/build-utils:${{ github.run_number }}


    - name: Build and push hdf5 image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: docker/hdf5.Dockerfile
        push: true
        build-args: REGISTRY=${{ env.REGISTRY }}
        tags: |
          ${{ env.REGISTRY }}/algodynamic/hdf5:latest
          ${{ env.REGISTRY }}/algodynamic/hdf5:${{ github.run_number }}

    - name: Test hdf5 image
      run: |
        docker run --rm ${REGISTRY}/algodynamic/hdf5:${BASE_TAG} h5dump --version
