name: CI to Docker Hub

on:
  push:
    branches: main
  pull_request:
    branches: main        
  workflow_dispatch:  

env:
  USERNAME: algodynamic

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ env.USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push build tools image
      uses: docker/build-push-action@v2
      with:
        context: docker
        file: docker/build-utils.Dockerfile
        tags: | 
          ${{ env.USERNAME }}/build-utils:latest
          ${{ env.USERNAME }}/build-utils:${{ github.run_number }}


    - name: Build and push hdf5 image
      uses: docker/build-push-action@v2
      with:
        context: docker
        file: docker/hdf5.Dockerfile
        tags: | 
          ${{ env.USERNAME }}/hdf5:latest
          ${{ env.USERNAME }}/hdf5:${{ github.run_number }}

    - name: Test hdf5 image
      run: |
        docker run --rm ${{ env.USERNAME }}/hdf5:latest h5dump --version

